::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: transparent !important;
}
::ng-deep  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
  color: #fff!important;
}
::ng-deep  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label{
  color: #ef9b28!important;
}

ngx-dropzone {
  height: auto;
  margin-bottom: 2rem;
  width: fit-content;
  padding: 0.5rem;
  // border: none;

  ngx-dropzone-label {
    font-weight: bolder;
    font-size: 1.2rem;
  }
}

// style for image
[_nghost-ng-c2040221903] {
  background-color: transparent;
}
