<section class="d-flex flex-column justify-content-between gap-5">
  <article class="top-section rounded-3 overflow-hidden px-5">
    <h2 class="text-white">Welcome <span>UpSkilling</span></h2>
    <p class="text-white">You can add project and assign tasks to your team</p>
  </article>
  <article class="bottom-section d-flex justify-content-between align-items-center px-5">
    <div class="p-5 shadow rounded-3">
      <div class="title-content">
        <h3 class="fw-bold">Tasks</h3>
        <p>Lorem ipsum dolor sit amet,consecteture</p>
      </div>
      <div>
        <div [chart]="tasksChart" class="w-100"></div>
      </div>
    </div>
    <div class="p-5 shadow rounded-3">
      <div class="title-content">
        <h3 class="fw-bold">Users</h3>
        <p>Lorem ipsum dolor sit amet,consecteture</p>
      </div>
      <div>
        <div [chart]="usersChart" class="w-100"></div>
      </div>
    </div>
  </article>
</section>
